aiohttp==3.7.4
aioopenssl==0.3.1
aiosasl==0.3.1
aioxmpp==0.9.1
asn1crypto==0.24.0
async-timeout==2.0.1
Babel==2.5.3
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.1
-e git://github.com/Rapptz/discord.py@rewrite#egg=discord
dnspython==1.15.0
idna==2.6
lxml==3.8.0
multidict==2.1.6
orderedset==2.0.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pyOpenSSL==17.5.0
python-memcached==1.59
pytz==2018.3
requests==2.18.4
six==1.11.0
tzlocal==1.5.1
urllib3==1.22
websockets<4.0, >=3.0
yarl<1.2
